@import "common/common.styl"
@import "common/footer.styl"

a 
    text-decoration none
    color black

a.btn
    display: inline-block
    text-decoration: none
    text-align: center

$top = px(10)
$width = px(100)
.view-index
    position: relative
    width 100%

    padding-bottom px(60)

    .section
        font-size px(14)
        text-align: center;
    .head
        display flex
        flex-direction column
        align-items center
        justify-content center

        margin: 0 auto
        width: 18.75rem;
        height: 9.2rem;
        background-color: rgba(0, 186, 173, 1);
        .headPortrait
            width: 6.6rem;
            height: 6.2rem;
            border-radius: 3.1rem
            overflow hidden
            img 
                width: 7.0rem
                height: 6.2rem
        .title
            margin-top 0.4rem

            width: 15.0rem
            color: rgba(255, 255, 255, 1);
            p 
                inblock()
                width 100%

    .main
        margin()
        width:15.1rem;
    .details
        overflow: hidden
        .star
            margin-top 0.6rem
            width: 33.33%
            float: left
        a.star-item
            display: block
            margin()
            width: 4.15rem;
            height: 1.9rem;
            line-height 1.9rem;
            color: rgba(80, 80, 80, 1);
            background-color: rgba(140, 190, 37, 1);
            img
                width: 1.0rem;
                height: 1.0rem;
            span
                width: 1.5rem;
                height: 1.0rem;
                color: rgba(255, 255, 255, 1);
        p
            margin-top 0.4rem
            height: 1.0rem;
            color: rgba(80, 80, 80, 1);
    .star-form
        margin-top 1.2rem
        text-align left
    .star-control
        label
            color: rgba(80, 80, 80, 1);
        input
            margin-top 0.7rem
            width: 15.1rem;
            height: 1.5rem;
            text-indent: px(5);
            color: rgba(51, 51, 51, 1);
            border-radius: 0.1rem;
            font-size: 0.6rem;
            border: rgba(153, 153, 153, 1) solid 0.05rem;
        p 
            margin-top 0.7rem
        span
            color: rgba(80, 80, 80, 1);
        span:nth-of-type(2)
            color: rgba(212, 48, 48, 1);
    a#submit
        margin()
        margin-top 1.6rem
        display block
        width: 11.35rem;
        height: 2.0rem;
        line-height: 2.0rem;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(212, 48, 48, 1);
        box-shadow: rgba(128, 128, 128, 1) solid 0.05rem;
        border-radius: 0.25rem;
        font-weight: bold;
