// 设置变量

@import "variables.styl"
@import "functions.styl"
@import "mixins.styl"
@import "h5bp.styl"

*
    box-sizing border-box

ul,li,p,h1,h2,h3,h4,input
    padding: 0
    margin: 0
input
    outline none
    border none
textarea
    outline none

[title^="站长"]
    display: none

body
    margin 0
    padding 0
    font-family $main-font-family
    font-size: px(14)

.loader
    z-index $loading-z-index
    fixed-stretch()
    
    display flex
    justify-content center
    align-content center
    align-items: center;
    
    font-size px(24)
    color #444
    background #fff


img
    max-width 100%

ul
    margin 0
    padding: 0
    font-style: normal
    list-style: none

    li 
        padding: 0
        margin: 0

.clearfix
  &::after 
    display: block;
    content: "";
    clear: both;

.pull-left
    float left

.pull-right
    float right

img
    max-width: 100%

.container
    height: 100%
    //min-width px(750)
    width: 100%
    margin auto
    overflow-x: hidden
    overflow-y: auto

.toast-container
    z-index $loading-z-index - 1
    fixed-top 30%
    left auto
    right auto
    margin auto
    width 100%
    text-align center
    pointer-events: none
    
    // max-width 70%

    display flex
    flex-direction column
    justify-content center
    align-items center
    align-content center

.toast
    position relative
    margin-bottom px(8)
    padding px(18) px(40)

    width auto
    height auto

    border-radius px(12)
    font-size px(24)

    // shadow-2dp()
    word-break: break-all;

    background rgba(0,0,0,.8)
    color #fff

html
    font-size: 40px

    @media all and (max-width: 1440px)
        font-size: 29px

    @media all and (max-height: 900px)
        font-size: 34px

    @media all and (max-height: 800px)
        font-size: 30px

    @media all and (max-height: 700px)
        font-size: 29px

html,body
    height 100%
    background #eee;

.container
    display: flex
    justify-content: flex-start
    flex-direction column

.icon-logo
    display: inline-block

$gap = px(20)
.icon-icon
    abs-left($gap)
    top auto
    bottom px(-20)

i.iconfont
    margin-right: px(10)

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.dialog-commit
    z-index: 333
    display none
    position: fixed
    top 0
    left 0
    bottom 0
    right 0

    width 100%
    height 100%

    .mask
        abs-stretch()
        background rgba(0,0,0,.8)

    .video-content,
    .content-box
        abs-top()
        bottom 0
        left 0
        right 0
        margin auto
        width 80%
        max-width px(1080)

        &.animated
            animation bounceIn 700ms

.dialog-commit
    h2
        margin 0 0 px(10)
        font-size: px(20)
        color #626262

    .phone-tabs
        margin-bottom px(20)
        .tab
            display: inline-block
            vertical-align: top
            margin-right px(10)

            width px(136)
            height px(40)
            line-height: @height
            border-radius: px(8)
            border 1px solid #fff

            text-decoration: none
            text-align: center
            font-size: px(16)

            color #fff
            background: #c2bcbc

            &.active
                background #ea965f

            svg
                margin-top px(-6)
                width px(22)

    .phone,.code
        margin-bottom px(20)
        padding 0 px(10)
        width px(285)
        height px(44)
        line-height: @height
        border-radius: px(6)
        border 1px solid #a5a5a5

        outline: none
        font-size: px(16)

    .code
        margin-right px(12)
        display: inline-block
        vertical-align: top
        width px(146)

    .ercode
        display: inline-block
        vertical-align: top
        width px(127)
        height px(44)
        line-height: @height
        border-radius: px(8)

        text-decoration: none
        text-align: center
        color #fff
        background #a2d5e5

    .submit
        width px(286)
        height px(80)
        line-height: @height
        border 1px solid #86c3d9
        border-radius: px(12)

        text-align: center
        font-size: px(32)
        color #3f85a1
        background #b8f0ff


    .content-box
        z-index: 22
        abs-center()
        top 0
        bottom 0
        margin auto
        padding px(75) 0 0 px(70)

        &[data-tag="android"]
            .android
                display block
                
        &[data-tag="ios"]
            .ios
                display block

    .icon-close
        abs-right px(4)
        top px(42)

    .form
        display: none