.footer
    fixed-bottom()
    margin: auto
    display flex
    width 100%
    width: 18.75rem;
    height 2.6rem

    padding 0.3rem 0
    
    background-color: rgba(0, 186, 173, 1);
    text-align: center;

    a
        width 25%
        height 2.6rem
            
        div
            margin()
            width 1.7rem
            line-height 1.0rem
        
            & *
                display: block
            i.iconfont
                margin-right 0
                width: 1.2rem;
                height: 1.2rem;
                left: 1.9rem;
                top: 30.95rem;
                font-size: 1.2rem;
                color: rgba(255, 255, 255, 1);
            span 
                width: 1.4rem;
                height: 1.05rem;
                left: 1.85rem;
                top: 32.15rem;
                color: rgba(255, 255, 255, 1);
                font-size: 0.7rem;
                line-height: 150%;
                text-align: left;