// 默认字体
$main-font-family = Helvetica, Tahoma, Arial, "Noto Sans", "Noto Sans CJK SC", "Source Han Sans CN", "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", SimSun, "宋体", sans-serif
// PC端标准字号
$main-font-size = 14px

$main-line-height = 1.2

$land-page-width = 750

/*
*
* 媒体查询
* 断点
*
* 默认情况下,断点区间为[320-640],[640,1024],[1024,1920]
*
*/

$min-divice-width = 320px
$pad-divice-width = 640px
$pc-small-device-width = 1024px
$pc-large-device-width = 1104px
$pc-max-device-width = 1920px

$pc-max-height = 650px

$pc-left-nav-width = 196px

/* SHADOWS */
$shadow-key-umbra-opacity = 0.2;
$shadow-key-penumbra-opacity = 0.14;
$shadow-ambient-shadow-opacity = 0.12;

/*
*
* 动画
*
*/
$normal-duration = .3s

/*
*
* z-index
*
*/

$loading-z-index = 10000



$content-width = px(1576)


/*
*
* 文字与颜色
*
*/
$main-font-color = #656464
$main-light-color = #507ba2

/*
*
* header
*
*/

$header-height = px(150)